body {
  font-family: "Space Mono", monospace;

  color: gray;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
}
ul {
  padding-left: 0;
  list-style: none;
}

.container {
  border: 1px solid rgb(223, 221, 221);
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  align-items: center;
  margin: 0 auto;

  align-content: center;
}
.city-input {
  border: 1px solid rgb(223, 221, 221);
  padding: 15px 50px;
  border-radius: 5px;
}

.degree {
  display: inline;
  font-size: 50px;
  font-weight: 600;
  color: rgb(1, 1, 1);
}

.left-cloudy-description {
  text-align: right;
}
.weekday {
  font-size: 22px;
}
.col-center {
  text-align: center;
  border-radius: 4px;
}
.col-center:hover {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  cursor: pointer;
}
.inline-weather-icon {
  color: #4f6f8c;
  font-size: 3em;
  align-items: center;
  margin: 5px auto;
}
.bold-inline-degree {
  font-weight: bold;
}
.mt-10 {
  margin-top: 6rem;
}
.gray-cloud {
  color: #4f6f8c;
  font-size: 3rem;
  align-items: center;
}
.align-items-center {
  justify-content: center;
}
